<div class="main-categories-page main-profile-container main-page-container">
  <div class="main-page-logo-cont">
    <h1 class="hero-txt">Finmate</h1>
  </div>
  <div class="main-page-actions">
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Registration", new_user_registration_path %>
  </div>
</div>